<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>swab</title>
    <link href="/css/cover.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/734a7daae5.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</head>
<style>
.mainCon{
    display: flex;
    justify-content: space-between;
    height:450px;
}
.imgBox{
    width:40%;
}

.subBox{
    position: relative;
    width:55%;
    padding: 30px 0;
}

.btnBox {
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
}
.btnBox > .btn {
    width: 30%;
    height:50px;
    font-size: 20px;
    line-height: 35px;
}

.like {
    background-color: #c0c0c0;
    color : #fff;
}
.like:hover { color : #fff; }

.btnBox > .mine {
    width:48%;
}
.btnBox > .mine:first-child {
    color:rgb(121, 172, 1); 
    border: 1px solid rgb(121, 172, 1);
}
.btnBox > .mine:first-child:hover {
   background-color: rgb(121, 172, 1);
   color:#fff
}
.swiper-slide {opacity:0.5; transition:opacity 0.5s;}
.swiper-slide-active {opacity:1;}

.swiper-button-next {
    width:40px;
    background: url("/images/next.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    opacity: 0;
    transition: 0.3s;
}
.swiper-button-prev {
    width:40px;
    background: url("/images/prev.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
    opacity: 0;
    transition: 0.3s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: rgba(255,255,255,0.5) !important;
}

@media screen and (max-width:768px) {
    .mainCon{
        display: block;
        height:auto;
    }
    .imgBox{
        width:100%;
        height:400px;
    }

    .subBox {
        width: 100%;
    }
    .btnBox {
        position: inherit;
        margin-top:50px;
    }

}
</style>
<body>
    <div class="container py-2">
    <%- include('nav.ejs')%>
    <% var fileName = book.fileName %>

    <main>
        <div class="mainCon p-4 my-5">
            <div class="swiper imgBox">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <% if(book.fileName == '') { %>
                    <img src="/noImage.jpg" style="width:100%; height:auto;">
                  <% } else { %>
                    <% fileName.forEach(function(e){ %>
                        <div class="swiper-slide">
                            <img src="/images/<%= e %>" style="height:100%;" onclick="location.href='/images/<%= e %>'">
                        </div>
                    <% }) %>
                 <% } %>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <div class="subBox">
                <h4><%= book.bookTitle %></h4>
                <p>
                    <span><%= book.author %> / </span>
                    <span><%= book.cate == '01'? "국내도서" : "외국도서" %></span>
                </p>
                <% if(locals.user.passport) { %>
                    <% if(book.createUser == user.passport.user) { %>
                        <div class="btnBox">
                            <div class="btn btn-outline-warning mine" id="editBtn" style="cursor: pointer;">수정하기</div>
                            <div class="btn btn-outline-danger mine" id="delBtn" style="cursor: pointer;">삭제하기</div>
                        </div>
                    <% } else if(book.status == '1') { %>
                        <div class="btnBox">
                            <% if(like == '1'){ %>
                                <div class="btn like" id="likeClear" style="cursor: pointer;">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            <% } else { %>
                                <div class="btn btn-danger" id="like" style="cursor: pointer;">
                                    관심 <i class="fa-regular fa-heart"></i>
                                </div>
                            <% } %>
                            <div class="btn btn-success" id="chat" style="cursor: pointer;">스왑톡</div>
                            <div class="btn btn-dark" id="change" style="cursor: pointer;">교환요청</div>
                        </div>
                    <% } %>
                <% } else  { %>
                    <div class="btnBox">
                        <div class="btn btn-danger" id="like" style="cursor: pointer;">
                            관심 <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="btn btn-success" id="chat" style="cursor: pointer;">스왑톡</div>
                        <div class="btn btn-dark" id="change" style="cursor: pointer;">교환요청</div>
                    </div>
                <% } %>

            </div>
        </div> 
    </main>
    
    <%- include('footer.html')%>
    </div>

    <script>


        if('<%- book.status%>' == '0'){
            $('.swiper-wrapper').prepend(`
                <div class="swiper-slide">
                    <img src="/fin.png" style="width:100%; height:100%;">
                </div>
            `)
        }

        $(document).ready(function(){  


            const swiper = new Swiper('.swiper', {
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable : true
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
            });
        })

        var createUser = "<%- book.createUser%>";
        var bookId = "<%- book._id%>";
        var bookTitle = "<%- book.bookTitle%>"

        $('#like').click(()=>{
            $.post(('/like/' + bookId), function(result){
                if(result == 'ok'){
                    $('#like').remove();
                    $('.btnBox').prepend(`
                        <div class="btn like" id="likeClear" style="cursor: pointer;">
                            <i class="fa-solid fa-heart"></i>
                        </div>
                    `);
                }
            })
        });

        $('#likeClear').click(()=>{
            $.post(('/likeClear/' + bookId), function(result){
                if(result == 'ok'){
                    $('#likeClear').remove();
                    $('.btnBox').prepend(`
                        <div class="btn btn-danger" id="like" style="cursor: pointer;">
                            관심 <i class="fa-regular fa-heart"></i>
                        </div>
                    `);
                }
            })
        });

        $('#change').click(()=>{
            location.href=`/changeBook/${createUser}/${bookId}`;
        })

        $('#editBtn').click(()=>{
            location.href=`/editBook/${createUser}/${bookId}`;
        })

        $('#delBtn').click(()=>{
            alert('상품을 지우시겠습니까?');
            location.href=`/deleteBook/${createUser}/${bookId}`;
        })

        $('#chat').click(function(e){
            $.post('/chat', { createUser : createUser, bookId : bookId }, function(result){ 
                if(result == 'ok'){
                    location.href=`/chat/${createUser}/${bookId}`
                }
            })
            .fail((xhr, textStatus, errThrown)=> {
                console.log(xhr, textStatus, errorThrown);
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>