<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>swab</title>
    <link href="/css/cover.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/734a7daae5.js" crossorigin="anonymous"></script>
</head>
<style>


.card-img {
    height: 200px;
    cursor: pointer;
}
.card-img img {
    height: 100%;
    object-fit: cover;
    object-position: 50% top;
}

.main-title {
    height:30px;
    line-height: 30px;
}
.addBook {  height:30px; margin-left: 20px; line-height: 15px;}

.bookTitle a {
    font-size:16px;
}
.authorTitle {
    margin-top:5px;
    font-size:14px;
}
.search-form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateX(-50%);
  background: #fff;
  transition: all 0.3s ease;
}

#search-input {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 280px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

}

#search {
  position: absolute;
  top: 8px;
  right: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
  
}
#search i {
  width: 20px;
  height: 20px;
  color: #5a6674;
}


</style>
<body>
    <div class="container py-2">
    
    <%- include('nav.ejs') %>
    
    <main>
                
        <div class="script-header mx-auto text-center text-white">
            <h1 class="logo display-3">Swap book</h1>
            <p>서로의 가치와 취향이 담긴 책을 교환해보세요.</p>
            <div class="search-form">
                <input type="search" id="search-input" value="" placeholder="Search" >
                <button id="search" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

        <div class="pb-md-1 mx-auto d-flex">
            <h5 class="main-title">오늘의 책 둘러보기</h5>
            <button class="addBook btn btn-outline-primary">등록</button>
        </div>
        <div class="row row-cols-1 row-cols-xl-6 row-cols-md-3">
            <% book.forEach(function(e){ %>
                <div class="col my-2">
                    <div class="card rounded-2 shadow-sm">
                        <div class="card-body">
                            <div class="card-img"  onclick="location.href='/bookInfo/<%= e._id%>'">
                                <% if(e.fileName == '') { %>
                                    <img src="https://www.suwon.go.kr/resources/web/reserv/images/no_img.png"/>
                                <% } else { %>
                                    <img src="/images/<%= e.fileName[0] %>" />
                                <% } %>
                            </div>
                            <ul class="list-unstyled mt-3 mb-1">
                                <li class="bookTitle"><a class="link-secondary text-decoration-none" href="/bookInfo/<%= e._id%>"><%= e.bookTitle%></a></li>
                                <li class="text-muted authorTitle"><%= e.author%></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        
    
        
    </main>
    
    <%- include('footer.html')%>
    
    </div>

    <script>

        $('.addBook').click(function(){
            location.href = '/addBook';
        });

        $('#search').click(function(){
            let searchInput = $('#search-input').val();
            const blank_pattern = /^\s+|\s+$/g;

            console.log(searchInput)

            if(!searchInput || searchInput.replace(blank_pattern, '') == "") {
                alert('검색 키워드를 입력해주세요');
                return false;
            }
            window.location.replace(`/searchBook?value=${searchInput}`);
        });
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>